.FAQ {
	h3 {
		@include fontSize(16px);
		padding-bottom: 0.5em; 
		a {
			font-weight: 400 !important;
			&.collapsed {
				font-weight: 700 !important; 
				&:before {
					content: "+ ";
				}
			}
			&:before {
				content: "- ";
			}
		}
	}
}