.form_container {
	max-width: 870px; 
	background: $bg-grey; 
	min-height: 500px;
	@include border-bottom-radius(10px); 
	@include fontSize(16px);

	h1, h2, h3, p, label, button {
		font-family: $open-sans;
		color: $font-dark-grey;
	}

	h1 { 
		@include fontSize(36px);
		color: white; 
	}
	h2 {
		@include fontSize(22px);
		margin-bottom: 1em; 
	}
	h3 {
		@include fontSize(18px);
		font-weight: 700;
		//margin-bottom: 1em; 
	}
	label {
		@include fontSize(16px);
		font-weight: 700;
	}

	header {
		position: relative; 
		z-index: 1; 

		h1 {
			background: $sw-blue; 
			color: white; 
			text-align: center; 
			padding-top: 30px; 
			font-size: rem(10);
			height: 100px;
		}
		h2 {
			font-size: rem(10); 
		}
	}

	ul {
		li {
			color: $check-green;
			font-weight: 700; 
		}
	}

	button {
		color: white;
		background: $btn-blue;
		font-weight: 700;

		&.btn-lg {
			height: 3.5em; 
			@include fontSize(18px);
		}

		&.btn-sm {
			height: 3.5em; 
		}

		&:hover {
			background: $btn-blue-hover; 
		}
		&.secondary {
			background: $btn-cancel;
			border: 3px solid $btn-blue; 
			color: $btn-blue;
			
			&:hover {
				background: $btn-blue-hover;
				border: 3px solid $btn-blue-hover; 
				color: white;  
			}

		}
		@include media-breakpoint-down(sm){
			height: 3em; 
		}
	}

	a {
		font-weight: 700; 
		color: $link-blue !important;
		cursor: pointer;  
	}

	.validation-error {
		color: $error-red;
	}

	.extra-info {
		position: relative;
		display: inline-block;
		border-radius: 50%; 
		background-color: $btn-blue;
		color: white; 
	    width: 20px;
	    height: 20px;
	    text-align: center;
	    padding-top: 10px;
	    line-height: 0;
    	top: -0.5rem;
    	font-size: 75%; 
    	
    	@include media-breakpoint-down(sm){
			top: -.3rem;
		}
	}

	.control {
		@include fontSize(16px !important);
		padding-top: 0; 
	}

	.panel-collapse {
		background: rgba(255,255,255,0.5);
	    padding: 1em;
	    @include border-radius(5); 
	}

	.error {
		background: $error-red;
		width: 100%;
		position: absolute; 
		top: 0;
		left: 15px; 
		justify-content: center; 
		align-items: center;

		@include media-breakpoint-down(sm){
			margin-top: 1.5em; 
		}

		img {
			height: 80%; 
			width: 10%; 
			margin-right: 1em; 
			
			@include media-breakpoint-only(sm){
    			width: 6%; 
    		}
		}

		p {
			color: white;
		    display: flex;
		    align-items: center;
		    text-align: left;
		    width: 70%;
		    margin: 0; 
    		@include fontSize(24px);

			@include media-breakpoint-down(sm) {
    			@include fontSize(13px);
    		}
		}
	}

	.control-group--inner {
		label {
			font-weight: 400; 
			margin-left: 1.5rem; 

			@include media-breakpoint-down(sm) {
    			margin-left: 0; 
    		}

		}
	}

	.dates {
		.divider {
			@include fontSize(20px);
		}
	}

	.select-arrow {
		background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
		-moz-appearance: none; 
		-webkit-appearance: none; 
		appearance: none;
		padding-left: 0.5em;
		background-color: white; 
	}

	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none; 
	  margin: 0; 
	}

	input[type=number] {
	  -moz-appearance: textfield;
	}

	footer {
		p {
			@include fontSize(16px);

			&.copy {
				@include fontSize(13px);
			}
		}
	}
}

// Misc Form Styles 

.tooltip-inner {
	background-color: $font-dark-grey !important; 
    @include fontSize(13px);
    padding: 0.5em; 
}

.tooltip .arrow:before {
	border-bottom-color: $font-dark-grey !important; 
	border-top-color: $font-dark-grey !important; 
 }

.mb-md-1 {
	@include media-breakpoint-down(md) {
		margin-bottom: 1em !important; 
	}
}

.mb-md-0 {
	@include media-breakpoint-down(md) {
		margin-bottom: 0 !important; 
	}
}

.mb-4-5 {
	margin-bottom: 2rem !important; 
}

