// _variables.scss

$header-grey: #414142; 
$sw-blue: #3a9aca;
$btn-blue: #3176a3;
$btn-blue-hover: #388ebc;
$link-blue: #0F697F;
$font-dark-grey: #505050;
$font-light-grey: #adaaaa; 
$border-grey: #d4d2d2;
$error-red: #e54940; 
$bg-grey: #ebedee;  
$check-green: #009789;

$open-sans: 'Open Sans', sans-serif;